<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<section class="section-conten padding-y bg">
{% extends 'adminpanel/adminbase.html' %}

{% block content %}
{% load static %}
    <div class="container">

        <div class="row mt-5">

            
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header" style="background:white ;">
                        <strong class="d-inline-block mr-3 ">Change Your Password</strong>

                    </header>
                    <div class="card-body">
                        
                        <div class="row">
                            <div class="col-md-12">
                                <form action="{% url 'admin_change_password' %}" method="POST">
                                    {% csrf_token %}

                                    
                                    
                                    <div class="form-group">
                                        <label>Current Password</label>
                                        <input type="password" name="current_password" placeholder="Current Password" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Create New Password</label>
                                        <input type="password" name="new_password" placeholder="Create New Password" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm New Password</label>
                                        <input type="password" name="confirm_password" placeholder="Confirm New Password" class="form-control" required>
                                    </div>

                                    
                                    <input type="submit" value="Save" class="btn btn-outline-primary">

                                </form>

                            </div>






                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                    <!-- table-responsive .end// -->
                </article> <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>


</section>
{% endblock %}
