{% extends 'base.html' %}

{% block 'content' %}
<style>
   label {
        margin-top: 2%;
        margin-bottom: 1%;

    }
</style>
{% if messages%}
{% for message in messages %}
<div id="message" class="container">
  <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert" >
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
      {% if message.level  == DEFAULT_MESSAGE_LEVELS.ERROR %}important: {% endif %}
      {{ message }}

  </div>
{% endfor %}
{% endif %}
 <!-- ...:::: Start Account Dashboard Section:::... -->
 <div class="account-dashboard" style="margin-top: 60px;">
    <div class="container">
        <div class="row">
            
                <!-- Nav tabs -->
                {% include 'includes/dashboard_sidebar.html' %}
            
            <div class="col-sm-12 col-md-9 col-lg-9  " style="height: 80%;">
                <!-- Tab panes -->
                <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
                    
                   
                        <h4>Change Password</h4>
                        <div class="table_page table-responsive">
                           <form action="" method="POST">
                            {% csrf_token %}
                           
                        
                            <div class="form-group">
                                <label>Current Password</label>
                                <input type="password" name="current_password" placeholder="Currrent Password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Creaat New Password</label>
                                <input type="password" name="new_password" placeholder="Create new password" class="form-control" required>
                            </div> 
                            <div class="form-group">
                                <label>Confirm New Password</label>
                                <input type="password" name="confirm_password" placeholder="Confrim new password" class="form-control" required>
                            </div> 
                            
                            <input type="submit" value="submit" class="btn btn-outline-primary" style="width: 10%;margin-top: 5%;">
                           </form>
                        </div>
                   
                   
                    
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Account Dashboard Section:::... -->




{% endblock %}