{% extends 'base.html' %}

{% load static %}

{% block 'content' %}
<link href="{% static 'css/ordertracking.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/ordertracking.css' %}" rel="stylesheet" media="only screen and (max-width: 1200px)" />

<div class="d-flex justify-content-center">
    <div class="card" style=" width: 760px;">
        <div class="row d-flex justify-content-between px-3 top">
            <div class="d-flex">
                <h5>ORDER <span class="text-primary font-weight-bold">{{order.order_number}}</span></h5>
            </div>
            <!-- <div class="d-flex flex-column text-sm-right">
                <p class="mb-0">Expected Arrival <span>01/12/19</span></p>
                <p>USPS <span class="font-weight-bold">234094567242423422898</span></p>
            </div> -->
        </div>
        <!-- Add class 'active' to progress -->
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <ul id="progressbar" class="text-center">
                    <li class="active step0"></li>
                    <li class="active step0"></li>
                    <li class="active step0"></li>
                    <li class="step0"></li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-between top">
            <div class="row d-flex icon-content">
                <img class="icon" src="https://i.imgur.com/9nnc9Et.png">
                <div class="d-flex flex-column">
                    <p class="font-weight-bold">Order<br>Processed</p>
                </div>
            </div>
            <div class="row d-flex icon-content">
                <img class="icon" src="https://i.imgur.com/u1AzR7w.png">
                <div class="d-flex flex-column">
                    <p class="font-weight-bold">Order<br>Shipped</p>
                </div>
            </div>
            <div class="row d-flex icon-content">
                <img class="icon" src="https://i.imgur.com/TkPm63y.png">
                <div class="d-flex flex-column">
                    <p class="font-weight-bold">Order<br>En Route</p>
                </div>
            </div>
            <div class="row d-flex icon-content">
                <img class="icon" src="https://i.imgur.com/HdsziHP.png">
                <div class="d-flex flex-column">
                    <p class="font-weight-bold">Order<br>Arrived</p>
                </div>
            </div>
        </div>
     </div>
    </div>
</div>




<div class="container"
    style="margin: 0 auto;width: 50%;padding: 50px;background: #f1f1f1;margin-top: 50px;margin-bottom: 50px;">
    <div class="row invoice row-printable">
        <div class="col-md-12">
            <!-- col-lg-12 start here -->
            <div class="panel panel-default plain" id="dash_0">
                <!-- Start .panel -->
                <div class="panel-body p30">
                    <div class="row">
                        <!-- Start .row -->
                        <div class="col-lg-6">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-logo"><img src="{% static './images/logo.webp' %}" alt="Invoice logo"
                                    style="max-height: 90px;"></div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-6">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-from">
                                <ul class="list-unstyled text-right">
                                    <li><strong>Invoiced To</strong></li>
                                    <li> {{order.full_name}}</li>
                                    <li> {{order.full_address}}</li>
                                    <li></li>{{order.city}} ,{{order.state}}
                                    <li>{{order.country}}</li>
                                    <li>{{order.email}}</li>
                                    <li>{{order.phone}}</li>
                                </ul>
                            </div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-12">
                            <!-- col-lg-12 start here -->
                            <div class="invoice-details mt25">
                                <div class="well">
                                    <ul class="list-unstyled mb0">
                                        <li><a href="#"><span>Order number</span> : {{order.order_number}}</a></li>
                                        <li><a href="#"><span>Order Date</span> : {{order.created_at}}</a></li>
                                        <li><a href="#"><span>Payment method</span> :
                                                {{order.payment.payment_method}}</a>
                                        </li>
                                        <li><a href="#"><span>Transaction ID</span> : {{transID}}</a></li>
                                        <li><a href="#"><span> order status</span> : {{order.status}}</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="invoice-items">
                                <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="per70 text-center">Products</th>
                                                <th class="per5 text-center">Qty</th>
                                                <th class="per25 text-center">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in ordered_products %}
                                            <tr>
                                                <td>{{item.product.product_name}}
                                                    {% if item.variations.all %}
                                                    {% for i in item.variations.all %}
                                                    {{i.variation_category | capfirst}} :
                                                    {{i.variation_value|capfirst}}<br>

                                                    {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td class="text-center">{{item.quantity}}</td>
                                                <td class="text-center">{{item.product_price}}</td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2" class="text-right">Sub Total:</th>
                                                <th class="text-center">₹{{subtotal}}</th>
                                            </tr>
                                            <tr>
                                                <th colspan="2" class="text-right">Tax:</th>
                                                <th class="text-center">₹{{order.tax}}</th>
                                            </tr>
                                            {% if order.order_discount %}
                                            <tr>
                                                <th colspan="2" class="text-right text-warning ">Discount</th>
                                                <th class="text-center text-warning">- ₹{{order.order_discount}}</th>


                                            </tr>
                                            {% endif %}

                                            <tr>
                                                <th colspan="2" class="text-right">Grand Total:</th>
                                                <th class="text-center">₹{{order.order_total}}</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="invoice-footer mt25">
                                <p class="text-center">Thank you for shopping with us!</p>
                            </div>
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                    <!-- End .row -->
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
    </div>
</div>

{% endblock %}