{% extends 'base.html' %}

{% load static %}

{% block 'content' %}





<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        {% if 'search' in request.path %}
         <h2 class="title-page">Search Result</h2>
        {% else %}
        <h2 class="title-page">Our Store</h2>
        {% endif %}
            

    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">

                <div class="card">
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Categories</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_1" style="">
                            <div class="card-body">

                                <ul class="list-menu">
                                    <li><a href="{% url 'store' %}">All Products</a></li>
                                    {% for category in links %}
                                    <li><a href="{{ category.get_url }}"> {{ category.category_name }}</a></li>
                                    {% endfor %}
                                </ul>

                            </div> <!-- card-body.// -->
                        </div>
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                                    <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title"> Sort By </h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_3" style="">
                                <div class="card-body">
                                    <!-- <span>Sort By</span> -->
                                    <form method="GET" action="{% url 'price_sort' %}" id="sort-form">
                                        <select class="shot__byselect form-control" name="sort" id="sort-option">
                                            <option value="price-low">Price-Low to High</option>
                                            <option value="price-high">Price-High to Low</option>
                                        </select>
                                    </form>
    
                                    <script>
                                        $(document).ready(function () {
                                            $('#sort-option').change(function () {
                                                $('#sort-form').submit();
                                            });
                                        });
                                    </script>




                                </div><!-- card-body.// -->
                            </div>
                        </article> 



                </article> <!-- filter-group  .// -->
                
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Price range </h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_3" style="">
                            <div class="card-body">
                             <form action="{% url 'filter_price' %}" method="GET">
                                <div class="form-group row">
									<label for="min-price" class="col-sm-4 col-form-label">Min. Price:</label>
									<div class="col-sm-4">
										<input type="number" class="form-control" id="min-price" name="min-price"
											placeholder="500">
									</div>
								</div>
								<div class="form-group row">
									<label for="min-price" class="col-sm-4 col-form-label">Max. Price</label>
									<div class="col-sm-4">
										<input type="number" class="form-control" id="min-price" name="max-price"
											placeholder="500">
									</div>
								</div>
                                <button type="submit" class="btn btn-block btn-primary">Apply</button>
                            </form>
                            </div><!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group .// -->
                    

                </div> <!-- card.// -->

            </aside> <!-- col.// -->
            <main class="col-md-9">

                <header class="border-bottom mb-4 pb-3">
                    <div class="form-inline">
                        <span class="mr-md-auto"><b>{{ product_count }}</b> Items found </span>

                    </div>
                </header><!-- sect-heading -->

                <div class="row">
                    {% if products %}
                    {% for product in products %}
                    <div class="col-md-4">
                        <figure class="card card-product-grid">
                            <div class="img-wrap">

                                <a href="{% url 'product_detail' product.id %}"><img src="{{ product.Images.url }}"></a>

                            </div> <!-- img-wrap.// -->
                            <figcaption class="info-wrap">
                                <div class="fix-height">

                                    <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
                                    <div cla ss="price-wrap mt-2">
                                        <span class="price">${{ product.price }}</span>
                                    </div> <!-- price-wrap.// -->
                                </div>
                                <a href="{% url 'add_cart' product.id %}" class="btn btn-block btn-primary">View Details</a>
                            </figcaption>
                        </figure>
                    </div> <!-- col.// -->
                    {% endfor %}
                    {% else  %}
                    <div>
                        <h2>No Result found. Please try later.</h2>
                    </div>
                     {% endif %}   
                </div> <!-- row end.// -->



                <div class="ec-pro-pagination ">
                    {% if products.has_other_pages %}
                    <ul class="d-flex " style="gap: 10px; list-style-type: none;" >
                        {% if products.has_previous %}
                        <li><a href="?page={{products.previous_page_number}}"><i
                                    class="fas fa-long-arrow-alt-left me-1 d-none d-sm-inline-block"></i> Prev</a></li>
                        {% else %}
                        <li><a href="#"><i class="fas fa-long-arrow-alt-left me-1 d-none d-sm-inline-block"></i>
                                Prev</a></li>
                        {% endif %}
                        {% for i in products.paginator.page_range %}
                        {% if products.number == i %}
                        <li class="active"><a href="#">{{i}}</a></li>
                        {% else %}

                        <li><a href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if products.has_next %}

                        <li><a href="?page={{products.next_page_number}}">Next <i
                                    class="fas fa-long-arrow-alt-right ms-1 d-none d-sm-inline-block"></i></a></li>
                        {% else %}


                        <li><a href="#">Next <i
                                    class="fas fa-long-arrow-alt-right ms-1 d-none d-sm-inline-block"></i></a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>

            </main> <!-- col.// -->

        </div>

    </div> <!-- container .//  -->
</section>

{% endblock %}